* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.button {
    height: fit-content;
    width: fit-content;
    padding: 10px;
    margin: 5px;
    font-size: 4.5vw;
    border-radius: 5px;
    color: black;
}

@media screen and (min-width: 885px) {
    .button {
        font-size: 30px;
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin: 10px 30px 10px 30px;
    border-radius: 20px;
    width: calc(100% - 60px);
    background-color: rgb(50, 50, 50);
}

#riggedContainer {
    display: flex;
    align-items: center;
    font-size: 25px;
    color: white;
}

#riggedCheckbox {
    height: 25px;
    width: 25px;
    margin: 0 10px 0 10px;
}

.dealerArea, .playerArea {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 30px 10px 30px;
    border-radius: 20px;
    height: fit-content;
    width: calc(100% - 60px);
    background-color: rgb(50, 50, 50);
}

.playerTotal, .dealerTotal {
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
    width: calc(100% - 60px);
    border-radius: 20px;
    background-color: rgb(50, 50, 50);
    color: white;
    font-size: 20px;
}

.card, .dealerCard {
    font-size: 9vw;
    background-color: white;
    height: 40vw;
    width: 20vw;
    max-height: 300px;
    max-width: 200px;
    margin: 10px;
    padding: 0 0 0 10px;
    text-align: start;
    text-wrap: wrap;
    border-radius: 10px;
}

@media screen and (min-width: 885px) {
    .card, .dealerCard {
        font-size: 88.5px;
    }
}

#winLossArea {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0 10px 0;
    height: fit-content;
    width: calc(100% - 60px);
    margin: 15px 0 15px 0;
    border-radius: 20px;
    background-color: rgb(50, 50, 50);
    color: white;
    font-size: 20px;
}

#blank {
    display: none;
}

.heart {
    color: red;
}

.diamond {
    color: red;
}

.dealerCardsGenerated {
    display: none;
}

.playerCardsGenerated {
    display: none;
}

/*body {
    background-color: rgb(46, 33, 33)
}

.controls, .dealerArea, .playerArea, .playerTotal, .dealerTotal {
    background-color: rgb(20, 20, 20);
}*/